# Markdown
## Markdown
### Markdown
####  Markdown

**Python**

*Python*

## Insert image
![text](https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

# Insert site
[site](https://www.gitam.edu/)

# PYTHON
- Python is easy to learn
- python is more popular and demand
- python used in datascience

In [2]:
print("HELLO WORLD!")

HELLO WORLD!

In [3]:
print("hello , HYderabad")

hello , HYderabad

# Assignment

In [4]:
x = 12
y = 18
print(x,y)

12 18

In [5]:
a = b = c =20
print(a,b,c)

20 20 20

In [6]:
a1,b1,c1 = 100,200,300
print(a1,b1,c1)

100 200 300

# Data types and conversions
- int
- float 
- string
- complex
- boolean

In [11]:
x = 10
y = 12.56
z = 3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [12]:
# Boolean
x = 4
y = 10
x < y

True

In [13]:
# String
s1 ="abc"
s2 ="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [14]:
a = 123
print(type(1))

<class 'int'>

In [18]:
i = 100
print(type(i))
s1 =str(i)
print(type(s1))
f = float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [19]:
c = complex(3,5)
print(c)

(3+5j)

# Reading a value ---Input fuction

In [22]:
s =input("enter name: ")
print(s)
print(type(s))

enter name: Ajay
Ajay
<class 'str'>

In [24]:
a =int(input("enter age"))
print(a)
print(type(a))

enter age12
12
<class 'int'>

# Operators
- Operator is a symbols is used to perform a specific kind of operations

# Arithematic Operator
- +
- -
- * 
- /
- %
- //
- **

In [26]:
n1 = 123
print(n1 +10)
print(n1 -10)
print(n1 *10)
print(n1 /10)
print(n1 %10)
print(n1 //10)
print(n1 ** 10)

133
113
1230
12.3
3
12
792594609605189126649

# Precedence of Arth Operators
- Parenthesis
- Power
- division
- Multiplication
- Addition

In [28]:
x =1 + 2 ** 3 / 4 + 5
print(x)

8.0

In [29]:
x = 1 + 2 ** 3 / 4 * 5
print(x)

11.0

# Relational Operators
- ==,!=,<,>,<=,>=

In [31]:
a = 10
a1= a>15
print(a1)

False

# Logical Operators

In [34]:
x = 20
y = 30
print(x>=10  and x<=20)
print(x>=10 or x>= 20)
print(not x)

True
True
False

# Membership Operators

In [36]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Condtional Statements

## If - else Statements
#### Syntax:
##### if condition:
> Statements<br>
##### else:
> statements

In [37]:
# even or odd
n = int(input("enter a number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number546
even number

In [38]:
# chech given is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3 ==0 and n%5 ==0 :
    print("yes")
else:
    print("no")

enter a number34
no

In [40]:
# check given number positive ,Negative  or zero
n = int(input("enter a number"))
if n>0:
    print("+ve")
elif n<0:
    print("-ve")
else:
    print("zero")

enter a number-231
-ve

In [ ]:
# given number  is leap year  r not
n = int(input("enter a year"))
if n % 400 or (n % 100 !=0 and n  % 4 ==0)